.ConnectToEdge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  transform: rotate(-90deg);

  .Switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
  }

  p {
    padding: 0;
    color: var(--orange50);
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: 3px;
    opacity: 0.5;
  }

  svg {
    margin-right: 10px;
    transform: rotate(90deg);
  }

  .info {
    cursor: pointer;
  }
}

.active{
  p {
    opacity: 1;
  }
}
