:root {
  // Colors
  --primary10: #2D2763;

  --bg10: #151515;
  --bg30: #1C1C23;
  --bg50: #25252E;
  --bg70: #2F2F3D;

  --orange50: #FF8616;
  --orange70: #FFC069;

  --fg90: #FAFAFA;
  --fg70: #ECECEC;

  --lime50: #B9E01E;
  --gold50: #FAAD14;
  --magenta50: #EB2F96;
}
