:root {
  // Colors
  --bg10: #151515;
  --primary10: #2D2763;
  --bg30: #1C1C23;
  --bg50: #25252E;
  --bg70: #2F2F3D;
  --orange50: #FF8616;
  --fg90: #FAFAFA;
  --fg70: #ECECEC;
  --lime50: #B9E01E;
}
