@import "./styles/variables/global.scss";
@import "./styles/reset.scss";

.app-wrapper {
  display: flex;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg10);
  color: var(--fg90);
}

.container {
  width: 100%;
  border: 2px solid var(--bg10);
  background-color: var(--bg10);
}

.panels {
  display: flex;
}

a {
  text-decoration: none;
}
